PORT=3000
STORAGE_DIR=./storage
DB_PATH=./storage/bytehost.db
JWT_SECRET=521218600974abab6193e360f5fd1d237c72fefa7a321df7d0fe99cd1300980e
JWT_EXPIRES_IN=7d
OWNER_EMAIL=froblaz@wp.pl
OWNER_PASSWORD=Blazej0112@0112
DEFAULT_GLOBAL_RAM_MB=8192
DEFAULT_GLOBAL_CPU_PERCENT=400
DEFAULT_GLOBAL_STORAGE_MB=10240
DEFAULT_MAX_BOTS=10
DEFAULT_BOT_RAM_MB=512
DEFAULT_BOT_CPU_PERCENT=35
DEFAULT_USER_MAX_BOTS=3
DEFAULT_USER_RAM_MB=2048
DEFAULT_USER_CPU_PERCENT=100
DEFAULT_USER_STORAGE_MB=2048
MAX_UPLOAD_MB=512
SCHEDULER_INTERVAL_MS=60000
