PORT=3000
STORAGE_DIR=./storage
DB_PATH=./storage/bytehost.db
JWT_SECRET=521218600974abab6193e360f5fd1d237c72fefa7a321df7d0fe99cd1300980e
JWT_EXPIRES_IN=7d
OWNER_EMAIL=froblaz@wp.pl
OWNER_PASSWORD=Blazej0112@0112
DEFAULT_GLOBAL_RAM_MB=8192
DEFAULT_GLOBAL_CPU_PERCENT=400
DEFAULT_GLOBAL_STORAGE_MB=10240
DEFAULT_MAX_BOTS=10
DEFAULT_BOT_RAM_MB=512
DEFAULT_BOT_CPU_PERCENT=35
DEFAULT_USER_MAX_BOTS=3
DEFAULT_USER_RAM_MB=2048
DEFAULT_USER_CPU_PERCENT=100
DEFAULT_USER_STORAGE_MB=2048
MAX_UPLOAD_MB=512
SCHEDULER_INTERVAL_MS=60000
PUBLIC_GAME_HOST=109.196.2.114
MINECRAFT_DEFAULT_PORT=25565
MINECRAFT_PORT_RANGE_START=25565
MINECRAFT_PORT_RANGE_END=25665
FIVEM_DEFAULT_PORT=30120
FIVEM_PORT_RANGE_START=30120
FIVEM_PORT_RANGE_END=30220
PROJECT_ZOMBOID_PORT_RANGE_START=16261
PROJECT_ZOMBOID_PORT_RANGE_END=16361
TERRARIA_PORT_RANGE_START=7777
TERRARIA_PORT_RANGE_END=7877
CS2_PORT_RANGE_START=27015
CS2_PORT_RANGE_END=27115
CSGO_PORT_RANGE_START=27016
CSGO_PORT_RANGE_END=27116
UNTURNED_PORT_RANGE_START=27017
UNTURNED_PORT_RANGE_END=27117
MODRINTH_USER_AGENT=Blazkoj/ByteHost/1.0 (bytehost.online)
BYTEHOST_DOCKER_IMAGE_MINECRAFT_SERVER=ghcr.io/pterodactyl/yolks:java_21
BYTEHOST_DOCKER_IMAGE_FIVEM_SERVER=ghcr.io/pterodactyl/yolks:debian
BYTEHOST_DOCKER_IMAGE_PROJECT_ZOMBOID=ghcr.io/pterodactyl/yolks:steamcmd
BYTEHOST_DOCKER_IMAGE_CS2=ghcr.io/pterodactyl/yolks:steamcmd
BYTEHOST_DOCKER_IMAGE_CSGO=ghcr.io/pterodactyl/yolks:steamcmd
BYTEHOST_DOCKER_IMAGE_TERRARIA=ghcr.io/pterodactyl/yolks:debian
BYTEHOST_DOCKER_IMAGE_UNTURNED=ghcr.io/pterodactyl/yolks:steamcmd
BYTEHOST_DOCKER_PULL_TIMEOUT_MS=900000
BYTEHOST_DOCKER_START_TIMEOUT_MS=180000
